@charset "UTF-8";
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #254336;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #B7B597;
}

header {
  background-color: #254336;
  color: #B7B597;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1em;
}
header nav {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
}
header .logo a {
  color: #B7B597;
  text-decoration: none;
  font-size: 1.5em;
}
header .burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
header .burger-menu span {
  background-color: #B7B597;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  transition: 0.4s;
}
header .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
header .nav-links li {
  position: relative;
}
header .nav-links li a {
  color: #B7B597;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
header .nav-links li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav-links li .dropdown-content li {
  color: #254336;
  padding: 12px 16px;
  text-align: left;
}
header .nav-links li .dropdown-content li a {
  color: #254336;
}
header .nav-links li:hover .dropdown-content {
  display: block;
}
header .nav-links .arrow-down {
  border: solid #B7B597;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
  transition: transform 0.4s;
}

main {
  padding: 2em;
}
main .carousel,
main .services,
main .about-us {
  margin-bottom: 2em;
}
main .carousel .slickSlider img {
  max-width: 400px;
}
main .carousel .slickSlider .slick-dots li button:before {
  font-size: 30px;
}
main .services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Додати це до вашого SCSS файлу */
}
main .services h2 {
  font-size: 50px;
  text-align: center;
  margin: 1em 0 1em 0;
}
main .services .services_blocks {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main .services .services_block {
  max-width: 200px;
  width: 100%;
  height: 300px;
  background: #B7B597;
  color: #B7B597;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
  transition: 0.3s;
  z-index: 10;
}
main .services .services_block p {
  font-size: 30px;
  color: rgb(33, 30, 30);
  z-index: 100;
}
main .services .services_block:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, rgb(13, 13, 12) 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: wave 20s ease-in-out forwards;
          animation: wave 20s ease-in-out forwards;
}
main .BeTitle {
  text-align: center;
  font-size: 40px;
  color: #1A2130;
  margin: 3% 0 3% 0;
}
main .about-us {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
main .about-us .about-us_left {
  width: 40%;
}
main .about-us .about-us_left img {
  width: 100%;
  border-radius: 15px;
}
main .about-us .about-us_right {
  margin-left: 1%;
  width: 50%;
  text-align: center;
}
main .about-us .about-us_right h2 {
  font-size: 80px;
  margin-bottom: 30px;
}
main .about-us .about-us_right p {
  font-size: 30px;
}
main .advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .advantages .advantages_up {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
main .advantages .advantages_down {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
main .advantages .advantages_block {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
main .advantages .advantages_block h2 {
  font-size: 30px;
  color: #1A2130;
  margin: 6% 0 6% 0;
}
main .advantages .advantages_block p {
  text-align: center;
}
main .progress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .progress-blocks {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 100%;
  width: 100%;
}
main .progress-blocks .progress-block {
  margin: 20px 0;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1A2130;
}
main .progress-blocks .progress-block p {
  width: 200px;
}
main .progress-blocks .progress-block h3 {
  font-size: 22px;
}
main .progress-blocks .progress-circle {
  margin: 50px 0 50px 0;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .progress-blocks .progress-circle div {
  font-size: 30px;
  color: #1A2130;
}
main .progress-blocks .circular-chart {
  position: absolute;
  width: 100%;
  height: 100%;
}
main .progress-blocks .circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}
main .progress-blocks .circle {
  fill: none;
  stroke-width: 2.8;
  stroke: #254336; /* Primary color */
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}
main .progress-blocks .progress-value {
  font-size: 1.5em;
  color: #254336; /* Primary color */
}

footer {
  background-color: #254336;
  color: #B7B597;
  text-align: center;
  padding: 1em;
}

@-webkit-keyframes wave {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
@media screen and (max-width: 1024px) {
  .about-us {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-us .about-us_right {
    margin-bottom: 4%;
  }
  .progress-blocks {
    flex-direction: column;
    align-items: center !important;
  }
  main .advantages .advantages_block {
    max-width: 200px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  header .burger-menu {
    display: flex;
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 10;
  }
  header .nav-links {
    transition: 0.5s;
    position: absolute;
    left: -1200px;
    flex-direction: column;
    width: 100%;
    z-index: 100000;
    text-align: center;
  }
  header .nav-links li {
    width: 100%;
  }
  header .nav-links.active {
    left: 0;
    width: 100%;
    position: absolute;
    background: #254336;
    left: 0;
    top: 60px;
    z-index: 100000;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main .services .services_block {
    max-width: 120px;
    height: 200px;
  }
  main .services .services_block p {
    font-size: 24px;
  }
  main .advantages .advantages_up, .advantages_down {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .services .services_blocks {
    flex-direction: column;
    align-items: center;
  }
  main .services .services_blocks .services_block {
    margin-bottom: 3%;
  }
}/*# sourceMappingURL=style.css.map */