// Кольорові змінні
$primary-color: #151515;
$secondary-color: #B7B597;
$text-color: #322C2B;
$second-text-color: #F3F7EC;

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: $text-color;
}

header {
    background-color: $primary-color;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1em;

    nav {
        display: flex;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
    }

    .logo {
        a {
            color: $text-color;
            text-decoration: none;
            font-size: 1.5em;
        }
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            background-color: $text-color;
            height: 3px;
            width: 25px;
            margin: 4px 0;
            transition: 0.4s;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;

        li {
            position: relative;

            a {
                color: #F3F7EC;
                text-decoration: none;
                padding: 10px 20px;
                display: block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #fff;
                min-width: 160px;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                z-index: 1;

                li {
                    color: $primary-color;
                    padding: 12px 16px;
                    text-align: left;

                    a {
                        color: $primary-color;
                    }
                }
            }

            &:hover .dropdown-content {
                display: block;
            }
        }

        .arrow-down {
            border: solid $text-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 5px;
            transform: rotate(45deg);
            transition: transform 0.4s;
        }
    }
}

main {
    .chernii{
        color: #000 !important;
    }
    padding: 2em;
    background: rgb(175,130,96);
background: linear-gradient(124deg, rgba(175,130,96,1) 0%, rgba(228,197,158,1) 100%);
    .carousel,
    .services,
    .about-us {
        margin-bottom: 2em;
    }
    .carousel{
        .slickSlider{
            img{
                max-width: 500px;
                width: 100% ;
            }
            .slick-dots li{
               button:before{
                font-size: 30px;
               }
            }
        }
    }
    .services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 40px;
            text-align: center;
            margin: 1em 0 1em 0 ;
        }
        
        .services_blocks{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .services_block {
            max-width: 200px;
            width: 100%;
            height: 300px;
          
          
            color: $text-color;
            background-size: cover;
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            padding: 50px;
            text-align: center;
            transition: 0.3s;
            z-index: 10;

            p{
                font-size: 30px;
                color: $second-text-color;
                z-index: 100;

            }
            
            
            
        }
        .services_block1{
            background: url('../photos/wall.jpg');
            background-size: cover;
        }
        .services_block2{
            background: url('../photos/formBG.jpg');
            background-size: cover;
        }
        .services_block3{
            background: url('../photos/predmet.jpg');
            background-size: cover;
       

        }
        .services_block4{
            background: url('../photos/kartina.jpg');
            background-size: cover;
        }
        .services_block:hover{
            
            -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, rgb(13, 13, 12) 50%, rgba(0, 0, 0, .6) 70%);
            -webkit-mask-size: 200%;
            animation: wave 20s ease-in-out forwards;
            

        }

    }
    .BeTitle{
        text-align: center;
        font-size: 40px;
        color: #803D3B;
        
        margin: 3% 0 3% 0;
    }
    .about-us{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        width: 100%;
       
        .about-us_left{
            display: flex;
        align-items: center;
            width: 40%;
            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        .about-us_right{
            margin-left: 1%;
            width: 50%;
            text-align: center;
            h2{
                font-size: 80px;
                color: #000;
                margin-bottom: 30px;
            }
            p{
                font-size: 30px;
                margin-bottom: 40px;
            }
        }
    }
    .advantages{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .advantages_up{
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
        }
        .advantages_down{
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
        }
        .advantages_block{
            max-width: 300px ;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            h2{
                font-size: 30px;
                color: $text-color;
                margin: 6% 0 6% 0;
            }
            p{
                text-align: center;
            }
           
        }
       
    }
    .progress-section {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .progress-blocks{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        height: 100%;
        width: 100%;
        .progress-block {
            margin: 20px 0;
            max-width: 280px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: $text-color ;
            p{
                width: 200px;
            }
            h3{
                font-size: 22px;
            }
        }
        .progress-circle {
            margin: 50px 0 50px 0;
            position: relative;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                font-size: 30px;
                color: $text-color;
            }
        }
        
        .circular-chart {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
        .circle-bg {
            fill: none;
            stroke: $primary-color;
            stroke-width: 3.8;
        }
        
        .circle {
            fill: none;
            stroke-width: 2.8;
            stroke: #803D3B; /* Primary color */
            stroke-linecap: round;
            transition: stroke-dasharray 0.3s ease;
        }
        
        .progress-value {
            font-size: 1.5em;
            color: #254336; /* Primary color */
        }
    }
    
    
    #openPopup {
        padding: 10px 20px;
        background-color: #254336;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    
       
    }
    
    
    #contactForm {
        margin: 0 auto;
        width: 455px;
        height: 400px;
        padding: 50px;
        border-radius: 15px;
        background: url('../photos/formBG.jpg');
        background-size: cover;
       
    }
    

        h2 {
            text-align: center;
            color: $second-text-color;
        }

        label {
            display: block;
            color: $second-text-color;
            font-size: 17px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        input {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 22px;
        }   
        #selectForm{
            width: 85%;
            height: 40px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            font-size: 22px;
            color: $secondary-color;
        }

        button {
            width: 100%;
            padding: 27px;
            background-color: #254336;
            font-size: 32px;
            filter: drop-shadow();
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            -webkit-box-shadow: 7px 9px 2px 0px rgba(232,218,193,0.17);
sx-shadow: 7px 9px 2px 0px rgba(232,218,193,0.17);


        }

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 30px;
            color: #aaa;
            cursor: pointer;

            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }

    }
footer {
    background-color: $primary-color;
    color: $text-color;
    text-align: center;
    padding: 1em;
}
@-webkit-keyframes wave {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }
@media screen and (max-width: 1024px) {
    .about-us{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .about-us_right{
            margin-bottom: 4%;
        }
    }
    .progress-blocks{
        flex-direction: column;
        align-items: center !important;
    }
    main .advantages .advantages_block{
        max-width: 200px;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    header .burger-menu {
        display: flex;
        position: absolute;
        right: 50px;
        top: 20px;
        z-index: 10;
    }

    header .nav-links {
        transition: 0.5s;
        position: absolute;
        left: -1200px;
        flex-direction: column;
        width: 100%;
        z-index: 100000;
        text-align: center;

        li {
            width: 100%;
        }
    }

    header .nav-links.active {
        left: 0;
        width: 100%;
        position: absolute;
        background: $primary-color;
        left: 0;
        top: 60px;
        z-index: 100000;
        text-align: left;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    main .services .services_block{
        max-width: 120px;
        height: 200px;
        p{
            font-size: 24px;
        }
    }
    main .advantages .advantages_up,.advantages_down{
        flex-direction: column;
    }
    main .services .services_blocks{
        flex-direction: column;
        align-items: center;
        .services_block{
            margin-bottom: 3%;
        }
    }
    
}
@media screen and (max-width: 450px){
    main{
        padding: 0;
    }
    main .about-us .about-us_left{
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    main .about-us .about-us_right{
        width: 100%;
        margin-bottom: 5%;
        padding: 0;
    }
}
h1, h2,h3, li,a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}